
.bbasket{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.bb-left{
    width: 75%;
}
.bb-product{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    transition:0.4s;
}
.bb-product:hover{
    transform:scale(1.05);
    cursor:pointer;
}
.bb-one{
    width: 20%;
}
.bb-two{
    width: 60%;

}
#img-ddd{
    width:45%;
}
.bb-two a {
        font-size: 24px;
        color: black;
        text-decoration: underline;
}
.bb-three {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bb-three i {
    font-size:26px;
}
.bb-product img{
    width: 100%;
}
.bb-right {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    height:292px;
}
.ccount {
    margin-top: 70px;
    display: flex;
    align-items: baseline;
    margin-bottom: 38px;
}
.ccount p {
    margin-right:10px;
}
