
@{
    ViewData["Title"] = "Home";
}
<!-- Begin Slider With Category Menu Area -->
<!-- Page Contain -->

<div class="page-contain">

    <!-- Main content -->
    <div id="main-content" class="main-content">

        <!--Block 01: Main slide-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="./uploads/images/slider-image1.jpg" alt="" style="width:100%;">
        <div class="carousel-caption">
                        <h5 class="animated bounceInRight" >MODERN <p> SUNGLASSES</p></h5>
                        <p class="slider-price" >Starting at <span>15.00$</span> </p>
                        <button class="slider-btn firstbtn">Shop Now</button>
                    </div>
        
      </div>

      <div class="item">
        <img src="./uploads/images/slider-image2.jpg" alt="" style="width:100%;">
         <div class="carousel-caption">
                        <h5 class="animated bounceInRight" >WOMEN'S LATEST <p> FASHION SALE</p></h5>
                        <p class="slider-price-second" >Starting at  <span>20.00$</span> </p>
                        <button class="slider-btn">Shop Now</button>
                    </div>
       
      </div>
    
      <div class="item">
        <img src="./uploads/images/slider-image3.jpg" alt="" style="width:100%;">
         <div class="carousel-caption">
                        <h5 class="animated bounceInRight" >NEW FASHION <p>SUMMER SALE</p> </h5>
                        <p class="slider-price" >Starting at <span>29.00$</span> </p>
                        <button class="slider-btn">Shop Now</button>
                    </div>
        
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


          <!-- Block 06: Product Tab-->
            <div class="product-tab z-index-20 sm-margin-top-71px xs-margin-top-80px">
                <div class="container">
                    <div class="biolife-title-box biolife-title-box__icon-at-top-style hidden-icon-on-mobile sm-margin-bottom-24px">
                        <span class="subtitle">All the best item for You</span>
                        <h3 class="main-title">Our New Products</h3>
                    </div>
                    <div class="content-wraper pt-60 pb-60 pt-sm-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-1 order-lg-2">
               
                <div id="dynamic-content">
                    
<div class="container  page-contain category-page no-sidebar">
    <div class="container">
        <div class="row">

            <!-- Main content -->
            <div id="main-content" class="main-content col-lg-12 col-md-12 col-sm-12 col-xs-12">


                <div class="product-category grid-style">

                

                    <div class="row">
                        <ul class="products-list" style="display:flex; flex-wrap:wrap;">
                                <li class="product-item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                    <div class="contain-product layout-default">
                                        <div class="product-thumb">
                                            <a href="/shop/details/17">
                                                <img src="/uploads/images/product-4c1aeb2e-8319-4ec8-864e-1916f7628394.jpg" alt="dd" width="260" height="270" class="product-thumnail">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <b class="categories">Shoes-2</b>
                                            <h4 class="product-title"><a class="pr-name" href="/shop/details/17">asfdas</a></h4>
                                            <div class="price">
                                                <ins><span class="price-amount"><span class="currencySymbol">£</span>67.00</span></ins>
                                                <del><span class="price-amount"><span class="currencySymbol">£</span>100.50</span></del>
                                            </div>
                                            <div class="shipping-info">
                                                <p class="shipping-day">3-Day Shipping</p>
                                                <p class="for-today">Pree Pickup Today</p>
                                            </div>
                                            <div class="slide-down-box">
                                                <p class="message">All products are carefully selected to ensure food safety.</p>
                                                <div class="buttons">
                                                    <a href="javascript:addToFavorites(17)" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                                    <a href="#" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                                    <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product-item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                    <div class="contain-product layout-default">
                                        <div class="product-thumb">
                                            <a href="/shop/details/16">
                                                <img src="/uploads/images/product-b2ec38a3-44fd-45aa-ab44-13c8d4ecd84f.jpg" alt="dd" width="260" height="270" class="product-thumnail">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <b class="categories">MAN</b>
                                            <h4 class="product-title"><a class="pr-name" href="/shop/details/16">COMFORT PERFORMANCE TECHNICAL JACKET</a></h4>
                                            <div class="price">
                                                <ins><span class="price-amount"><span class="currencySymbol">£</span>129.99</span></ins>
                                                <del><span class="price-amount"><span class="currencySymbol">£</span>194.985</span></del>
                                            </div>
                                            <div class="shipping-info">
                                                <p class="shipping-day">3-Day Shipping</p>
                                                <p class="for-today">Pree Pickup Today</p>
                                            </div>
                                            <div class="slide-down-box">
                                                <p class="message">All products are carefully selected to ensure food safety.</p>
                                                <div class="buttons">
                                                    <a href="javascript:addToFavorites(16)" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                                    <a href="#" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                                    <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product-item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                    <div class="contain-product layout-default">
                                        <div class="product-thumb">
                                            <a href="/shop/details/15">
                                                <img src="/uploads/images/product-080ec061-5d8f-47b6-ae42-ea024037803f.jpg" alt="dd" width="260" height="270" class="product-thumnail">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <b class="categories">MAN</b>
                                            <h4 class="product-title"><a class="pr-name" href="/shop/details/15">COMFORT PERFORMANCE TECHNICAL OVERSHIRT</a></h4>
                                            <div class="price">
                                                <ins><span class="price-amount"><span class="currencySymbol">£</span>119.99</span></ins>
                                                <del><span class="price-amount"><span class="currencySymbol">£</span>179.985</span></del>
                                            </div>
                                            <div class="shipping-info">
                                                <p class="shipping-day">3-Day Shipping</p>
                                                <p class="for-today">Pree Pickup Today</p>
                                            </div>
                                            <div class="slide-down-box">
                                                <p class="message">All products are carefully selected to ensure food safety.</p>
                                                <div class="buttons">
                                                    <a href="javascript:addToFavorites(15)" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                                    <a href="#" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                                    <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product-item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                    <div class="contain-product layout-default">
                                        <div class="product-thumb">
                                            <a href="/shop/details/14">
                                                <img src="/uploads/images/product-1fc25e9c-d5b0-4c90-a8c7-86b240dfe938.jpg" alt="dd" width="260" height="270" class="product-thumnail">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <b class="categories">MAN</b>
                                            <h4 class="product-title"><a class="pr-name" href="/shop/details/14">TAPERED FIT JEANS</a></h4>
                                            <div class="price">
                                                <ins><span class="price-amount"><span class="currencySymbol">£</span>77.99</span></ins>
                                                <del><span class="price-amount"><span class="currencySymbol">£</span>116.985</span></del>
                                            </div>
                                            <div class="shipping-info">
                                                <p class="shipping-day">3-Day Shipping</p>
                                                <p class="for-today">Pree Pickup Today</p>
                                            </div>
                                            <div class="slide-down-box">
                                                <p class="message">All products are carefully selected to ensure food safety.</p>
                                                <div class="buttons">
                                                    <a href="javascript:addToFavorites(14)" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                                    <a href="#" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                                    <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                
                        </ul>
                    </div>


                    <div class="brand-slide sm-margin-top-112px sm-margin-bottom-77px xs-margin-top-80px xs-margin-bottom-80px">
                <div class="container">
                    <ul class="biolife-carousel nav-center-bold nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":30,"slidesToShow":4, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin": 10}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin": 10}}]}'>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="assets/images/home-01/brd-01.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="assets/images/home-01/brd-02.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="assets/images/home-01/brd-03.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="assets/images/home-01/brd-04.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="assets/images/home-01/brd-01.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="assets/images/home-01/brd-02.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="assets/images/home-01/brd-03.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="biolife-brd-container transparent-effect">
                                <a href="#" class="link">
                                    <figure><img src="assets/images/home-01/brd-04.png" width="199" height="110" alt=""></figure>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
                </div>

            </div>

        </div>
    </div>
</div>



                </div>
                <!-- shop-products-wrapper end -->
            </div>
           
        </div>
    </div>
</div>
                </div>
            </div>


            <!-- lookbook starts -->
<section class="lookbook">
<div style="width: auto;" class="container">
    <div class="image-one">
        <img src="./uploads/images/lookbook1.webp" alt="">
        <div class="content">
        <p >LOOKBOOK 2023</p>
        <P>MAKE LOVE THIS BOOK</P>
    </div>
    </div>

    <div class="image-two">
        <img src="./uploads/images/lookbook2.webp" alt="">
        <div class="content">
            <p>SUMMER SALE</p>
            <P>UP TO 70%</P>
        </div>
    </div>
</div>


</section>

<!-- lookbook ends -->







        <!--Block 08: Blog Posts-->
        <div class="blog-posts sm-margin-top-93px sm-padding-top-72px xs-padding-bottom-50px">
            <div class="container">
                <div class="biolife-title-box">
                    <span class="subtitle">The freshest and most exciting news</span>
                    <h3 class="main-title">From the Blog</h3>
                </div>
                <div class="page-contain blog-page">
    <div class="container">
        <!-- Main content -->
        <div id="main-content" class="main-content">

            <div class="row">

                <!--articles block-->
                <ul class="posts-list main-post-list">
                    <div id="dynamic-content">
                        

<div class="row">
    <!-- Begin Li's Main Content Area -->
    <div class="col-lg-12">

        <div class="row li-main-content">

                <li class="post-elem col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-item effect-04 style-bottom-info">
                        <div class="thumbnail">
                            <a class="link-to-post" href="/blog/trail-running"><img src="/uploads/images/blogpost-2a821273-28b2-45c2-80fe-91a2dc240b89.jpg" width="370" height="270" alt=""></a>
                        </div>
                        <div class="post-content">
                            <h4 class="post-name"><a class="linktopost" href="/blog/trail-running">ZARA TRAIL RUNNING </a></h4>
                            <p class="post-archive"><b class="post-cat"></b><span class="post-date"> </span></p>
                            
                            <div class="group-buttons">
                                <a class="btn readmore" href="/blog/trail-running">read more</a>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li class="post-elem col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-item effect-04 style-bottom-info">
                        <div class="thumbnail">
                            <a class="link-to-post" href="/blog/bershka-in-1988"><img src="/uploads/images/blogpost-2a821273-28b2-45c2-80fe-91a2dc240b89.jpg" width="370" height="270" alt=""></a>
                        </div>
                        <div class="post-content">
                            <h4 class="post-name"><a class="linktopost" href="/blog/bershka-in-1988">BERSHKA IN 1988</a></h4>
                            <p class="post-archive"><b class="post-cat"></b><span class="post-date"> </span></p>
                            
                            <div class="group-buttons">
                                <a class="btn readmore" href="/blog/bershka-in-1988">read more</a>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li class="post-elem col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="post-item effect-04 style-bottom-info">
                        <div class="thumbnail">
                            <a class="link-to-post" href="/blog/pull-bear-2022"><img src="/uploads/images/blogpost-2a821273-28b2-45c2-80fe-91a2dc240b89.jpg" width="370" height="270" alt=""></a>
                        </div>
                        <div class="post-content">
                            <h4 class="post-name"><a class="linktopost" href="/blog/pull-bear-2022">PULL BEAR 2022</a></h4>
                            <p class="post-archive"><b class="post-cat"></b><span class="post-date"> </span></p>
                            
                            <div class="group-buttons">
                                <a class="btn readmore" href="/blog/pull-bear-2022">read more</a>
                                
                            </div>
                        </div>
                    </div>
                </li>
            <!-- Begin Li's Pagination Area -->
            
            <!-- Li's Pagination End Here Area -->
        </div>
    </div>
    <!-- Li's Main Content Area End Here -->
</div>
                    </div>
                    
                </ul>

            </div>

          
            

        </div>
    </div>
</div>
            </div>
        </div>

    </div>

</div>


                            <!-- follow instagram starts -->
<section class="instagram">
    <div class="title-instagram">
        <span class="line"></span><h3 class="header-instagram">  
        <span>FOLLOW US ON INSTAGRAM</span>
      </h3><span class="line"></span>
    </div>
    

    <div class="container-instagram-product">

        <div class="box">
            <img src="./uploads/images/inst1.jpg" alt="">
        </div>
        <div class="box">
            <img src="./uploads/images./inst2.jpg" alt="">
        </div>
        <div class="box">
            <img src="./uploads/images./inst3.webp" alt="">
        </div>
        <div class="box">
            <img src="./uploads/images./inst4.jpg" alt="">
        </div>
        
        <div class="box">
            <img src="./uploads/images./inst5.webp" alt="">
        </div>
        <div class="box">
            <img src="./uploads/images./inst7.jpg" alt="">
        </div>
        <div class="box">
            <img src="./uploads/images./inst8.jpg" alt="">
        </div>
       
    </div>

    <div class="container-instagram-footer">
    <div class="shipping">
        <div class="icon">
        <i class="fa-solid fa-car"></i>
    </div>
    <div class="content">
        <h6>FREE SHIPPING</h6>
        <p>Free shipping on all US order or order above $100</p>
    </div>
    </div>
<div class="support">
    <div class="icon">
        <i class="fas fa-home"></i>
</div>
<div class="content">
    <h6>SUPPORT 24/7</h6>
    <p>Contact us 24 hours a day, 7 days a week</p>

</div>
   
</div>

<div class="return">
    <div class="icon">
        <i class="fa fa-undo" aria-hidden="true"></i>
</div>
<div class="content">
    <h6>30 DAYS RETURN</h6>
    <p>Simply return it within 30 days for an exchange.</p>
</div>


   
</div>

<div class="secure">
    <div class="icon">
        <i class="fa-solid fa-lock"></i>
</div>
<div class="content">
    <h6>100% PAYMENT SECURE </h6>
    <p>We ensure secure payment with PEV.</p>
</div>
    

</div>


    </div> 


</section>
